<div class="row">
    <div class="col-xs-12">
        
        <iframe scrolling="no" frameborder="no" clocktype="html5" style="overflow:hidden;border:0;margin:0;padding:0;width:200px;height:200px;"src="http://www.clocklink.com/html5embed.php?clock=006&timezone=local&color=orange&size=200&Title=&Message=&Target=&From=2016,1,1,0,0,0&Color=orange"></iframe>
        
        <h2 class="col-xs-12">{{title}}</h2>
        
        
        <hr>
        <form method="post">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Feladat</th>
                        <th>Leírás</th>
                        <th>Határidő</th>
                        <th>Megbízott</th>
                        <th>Szerkesztés</th>
                        <th>Törlés</th>
                    </tr>
                </thead>
                <tbody>
                    {{!--list-todo model=model.todos--}}
                    {{#each model.todos}}
                    <tr>
                        <td id="{{id}}">#{{id}} {{yield}}</td>
                        <td>{{title}}</td>
                        <td>{{description}}</td>
                        <td>{{time}}</td>
                        <td>{{assignedto.name}}</td>
                        <td><button {{action "toggle" id title description time assignedto.id}} class="btn btn-default btn-sm">Szerkesztés</button></td>
                        <td><button {{action "deleteTodo" id}} class="btn btn-default btn-sm">Törlés</button></td>
                    </tr>
                    {{/each}}
                    {{!--add-todo model=model.people--}}
                    {{#if toggleDisabled}}
                    <tr>
                        <td>&nbsp;<input type="hidden" id="id_edit"></td>
                        <td><input class="form-control" id="title_edit" name="title" type="text" value="{{data.title}}"></td>
                        <td><input class="form-control" id="description_edit" name="description" type="text" value="{{data.dscription}}"></td>
                        <td><input class="form-control" id="time_edit" name="time" type="text" value="{{data.time}}"></td>
                        <td>
                            <select name="assignedto" id="assignedto_edit" class="form-control">
                            {{#each model.people}}
                                <option value="{{id}}">{{name}}</option>
                            {{/each}}
                            </select>
                        </td>
                        <td>&nbsp;</td>
                        <td><button {{action "editTodo"}} class="btn btn-warning">Módosítás</button></td>
                        
                    </tr>
                    {{/if}}
                    <tr>
                        <td>&nbsp;</td>
                        <td><input class="form-control" id="title" name="title" type="text" value="{{data.title}}"></td>
                        <td><input class="form-control" id="description" name="description" type="text" value="{{data.dscription}}"></td>
                        <td><input class="form-control" id="time" name="time" type="text" value="{{data.time}}"></td>
                        <td>
                            <select name="assignedto" id="assignedto" class="form-control">
                            {{#each model.people}}
                                <option value="{{id}}">{{name}}</option>
                            {{/each}}
                            </select>
                        </td>
                        <td>&nbsp;</td>
                        <td><button {{action "submit"}} class="btn btn-primary">Hozzáad</button></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
